@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans SC", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", "Inter", "Noto Sans SC", sans-serif;
  --font-mono: "JetBrains Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";

  --color-primary: #135bec;
  --color-danger: #ea2a33;
  --color-background-dark: #101622;
  --color-surface-dark: #1c2630;
}

@layer base {
  body {
    @apply bg-white dark:bg-background-dark text-slate-900 dark:text-slate-100 antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
